﻿@using Neogov.Common.Web.NeoGrid

@model TestApp.Models.HomeIndexViewModel

@{
    ViewBag.Title = "Index";
    
    
}
<link href="~/Content/DataTables/css/demo_table.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DataTables/css/demo_page.css" rel="stylesheet" type="text/css" />
<link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="~/Scripts/jquery-1.8.1.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-ui-1.8.23.js"></script>
<script type="text/javascript" src="~/Scripts/DataTables/jquery.dataTables.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.dataTables.columnFilter.js"></script>


<h2>Index</h2>
@Html.Partial("NeoGrid",Model.NeoGridViewModel)

<script type="text/javascript">
    
</script>