﻿@model Neogov.Common.Web.NeoGrid.NeoGridViewModel


@if (Model.ShowExport)
{
    <div>
    
</div>
}

<table id="@Model.Id" class="display @(Model.TableCssClass)">
    
    <thead>
        <tr>
            @foreach (var col in Model.Columns)
            {
                <th>@String.Empty</th>
            }    
        </tr>
        @if (Model.ColumnFilter)
        {
            <tr>
                @foreach (var col in Model.ColumnNames)
                {
                    <th>@col</th>
                }
            </tr>
        }
    </thead>
    <tbody>
        <td class="dataTables_empty">
            Loading Data ...
        </td>
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        var options = {
            "oLanguage": {
                "sSearch": "",
                "sProcessing": "<span>Processing...</span>"
            },
          "bProcessing":true,
          "sPaginationType": "full_numbers",
          "bSaveState" :true,
          "bServerSide":true,
          "bFilter" : @(Model.ShowSearch.ToString().ToLower()),
          "sDom" : 'frtlip',
          "aLengthMenu":[[10,25,50,100,-1],[10,25,50,100,"All"]],
          "bAutoWidth":@(Model.AutoWidth.ToString().ToLowerInvariant()),
          "sAjaxSource":"@Html.Raw(Model.AjaxUrl)",
          "aoColumns": [@(Html.Raw(Model.DataPropertyJson))],
            "bJQueryUI": true,
            "bDestroy": true,
          "fnServerData": function (sSource,aoData,fnCallback) {
              $.ajax({
                  "dataType": 'json',
                    "type": "POST",
                    "url": sSource,
                    "data": aoData,
                    "success": fnCallback
              });
          }
        };
        var table = $('#@Model.Id');
        var dataTable = table.dataTable(options);
        
        @if (Model.ColumnFilter)
        {
            <text>
                dataTable.columnFilter({
                    sPlaceHolder: "head:after",
                    aoColumns: [@Html.Raw(Model.ColumnFiltersString)]
                });
            
            </text>
        }
    });
</script>